@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    margin: 0;
}
header{
    background: rgb(130,170,196);
    background: linear-gradient(90deg, rgba(130,170,196,1) 0%, rgba(83,105,163,1) 49%, rgba(130,132,196,1) 100%);
    height: 50px;
    width: auto;
}

header .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Libre Baskerville', serif;
}

header .container a{
    color: beige;
    text-decoration: none;
    font-size:  4vh;
}

header .container a:hover{
    color: rgb(180, 180, 143);
}

header .container .dropdown_div a{
  color: black;
  text-decoration: none;
  font-size:  4vh;
}



.content{
    display: flex;
    flex-direction: column;
    background: rgb(255,234,210);
    background: linear-gradient(0deg, rgba(255,234,210,1) 1%, rgba(255,255,255,1) 100%);
    width: 100%;
    height: 100%;
}

.content-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3vh 5vw;
    padding: 3vh 5vw;
    border-radius: 50px;
    background-color: rgb(235, 235, 235);
}

.content-description p{
    font-family: 'Sigmar', cursive;
}

/* division necesaria */
*, *:before, *:after {
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #ffffff;
  background-color: #000000;
  border-top: 1px solid #ACB1D6;
  font-family: acumin-pro, system-ui, sans-serif;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  align-items: start;
}
.footer > * {
  flex:  1 100%;
}
.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}
.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}
.nav__title {
  font-weight: 400;
  font-size: 15px;
  font-family: 'Pacifico', cursive;
}
.footer address a{
  font-style: normal;
  color: #ffffff;
}
.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 100px;
  color: #ffffff;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer li {
  line-height: 2em;
}
.footer a {
  text-decoration: none;
}
.footer__nav {
  display: flex;
  flex-flow: row wrap;
}
.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}
.nav__ul a {
  color: #ffffff;
}
.legal {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
}
.legal__links {
  display: flex;
  align-items: center;
}
.heart {
  color: #ffffff;
}
@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}
@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  .nav__item--extra {
    flex-grow: 2;
  } 
  .footer__addr {
    flex: 1 0px;
  }
  .footer__nav {
    flex: 2 0px;
  }
}
.button {
  background-color: #4bcbdf;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #524BFF;
}


/* barra*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  top: 100%;
  margin-top: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 10px;
  cursor: pointer;
}

#accessibility-options {
  position: fixed;
  left: 10px;
  top: 10px;
  background-color: #ACB1D6;
  padding: 10px;
  display: none;
  box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.3);
}

#accessibility-options label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#font-size-slider {
  width: 200px;
}

#text-to-speech-toggle {
  margin-top: 10px;
}

/*Menu*/



